.header-bar[data-v-6a0ffccf]{background-image:linear-gradient(180deg,#ffefd6,#faf4ea)}.shadow-box[data-v-6a0ffccf]{box-shadow:0 4px #fea0214d inset}.mall-header-bg-box[data-v-6a0ffccf]{background-position:0 -60px}
