.header-bar[data-v-438f6566]{background-image:linear-gradient(180deg,#ffefd6,#faf4ea)}.shadow-box[data-v-438f6566]{box-shadow:0 4px #fea0214d inset}.mall-header-bg-box[data-v-438f6566]{background-position:0 -60px}
