.main-bg[data-v-94024ff0]{background:linear-gradient(180deg,#fed73a,#f2f0ef 50%);background-attachment:fixed}.btn[data-v-94024ff0]{border:1px solid #fea021!important}.border-gray[data-v-94024ff0]{border:2px solid #b9b9b9!important}
