.btn[data-v-31e5d0ec]{background:#fea021;box-shadow:4px 4px #fc9100;border-radius:20px;flex:none;order:0;flex-grow:0}[data-v-31e5d0ec] .van-cell{padding:5px!important}.shadow-inset-2[data-v-31e5d0ec]{box-shadow:inset 0 -3px #ffd489}
