.goods-tag[data-v-315a9808] .van-tag{padding:2px 5px;size:10px;border-radius:4px;transform:scale(.9)}[data-v-33368e78] .van-button{height:100%;background:#ff507a}[data-v-06d19080] .van-checkbox__label{width:100%}
