.bg-linear[data-v-f818104c]{background:linear-gradient(180deg,#fef7f7,#f1f1f1)}.bg-border[data-v-f818104c]{background:#ffffffb3;box-shadow:0 1px 1px #ffffff40 inset;-webkit-backdrop-filter:blur(5px);backdrop-filter:blur(5px)}
