.input-wrapper[data-v-08e4036f]{position:relative;text-align:center;min-width:20px}.input-wrapper .input-box[data-v-08e4036f]{background:#f1f1f1!important;display:inline-block;position:absolute;left:0;width:100%;height:100%}
