.safe-body[data-v-89945902]{height:calc(100vh - 137px - env(safe-area-inset-bottom))}.child-view[data-v-89945902]{background-image:none}.payHelpPage .fm-tab-underline{width:48px!important;border-radius:0}
