.btn-bg[data-v-5f770138]{background:linear-gradient(275deg,#ff9a10 4.2%,#ffc94a 98.78%)}.title-bg[data-v-5f770138]{background:linear-gradient(275deg,#ffefdc,#fff0df)}[data-v-5f770138] .van-field__label{width:100px}
