.wallet-bg[data-v-530506bf]{background:url(/static/images/wallet-bg-pTOLUQgm.png);background-size:100% 100%}[data-v-530506bf] .van-cell{padding-left:0!important}.btn[data-v-530506bf]{background:#fed73a;color:#2e2008}
