.safe-page-body[data-v-0a0d732c]{height:calc(100vh - 128px - env(safe-area-inset-bottom))}.tipsCard[data-v-0a0d732c]{border-radius:12px;border:1px solid var(---, #ff8812);background:linear-gradient(0deg,#ff88121f,#ff88121f),#fff}
