.voucher__container[data-v-0def6810]{background:linear-gradient(180deg,#fc0,#f2f0ef 50%)}.bg[data-v-0def6810]{width:177px;height:177px;background:url(../images/voucher_bg-BNo2l8eb.png) no-repeat center center/100%}
